*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    display: flex;
    justify-content: center;
    font-family: 'Megrim';
    font-size: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../Images/HeaderBackground.png");
    color: white;
}
/* Search Container */
.container {
    border-style: solid;
    border-color: rgb(182, 159, 126);
    padding: 50px 20px 50px 20px;
}
/* Buttons */
.btn {
    background-color: rgb(182, 159, 126);
    font-family: 'Megrim';
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(224, 219, 212);
    color: rgb(82, 73, 60);;
}

#search-input {
    font-family: 'Wire One';
}

.loaderMain {
    height: 100vh;
    background-color: rgb(14, 4, 11);
    display: flex;
    justify-content: center;
    vertical-align: auto;
}

:root{
    --theme-color: rgb(182, 159, 126);
    --theme-color-dark: rgb(95, 74, 45);
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/*  */

.text{
    opacity: 0.8;
}
.title{
    font-family: 'Megrim';
    color:rgb(82, 73, 60);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/*  */

.cocktail-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.cocktail-search{
    margin: 2rem 0;
}
.cocktail-search cite{
    font-size: 1rem;
}
.cocktail-search-box{
    margin: 1.2rem 0;
    display: inline;
    align-items: stretch;
}
.search-control{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--theme-color);
}

.cocktail-result{
    margin-top: 4rem;
}
#cocktail{
    margin: 2.4rem 0;
}
.cocktail-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.cocktail-img img{
    width: 100%;
    display: block;
}
.cocktail-name{
    padding: 1.5rem 0.5rem;
}
.cocktail-name h3{
    font-size: 2.3rem;
    font-family: 'Wire One';
    text-align: center;
    
}

.recipe-btn{
    font-family: 'Wire One';
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: var(--theme-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--theme-color-dark);
}

/* cocktail details */
.cocktail-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: var(--theme-color);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.cocktail-details::-webkit-scrollbar{
    width: 10px;
}
.cocktail-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
}


/* js related */
.showRecipe{
    display: block;
}

.cocktail-details-content{
    margin: 2rem;
}
.cocktail-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--theme-color);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--theme-color);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-cocktail-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--theme-color);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px){
    .cocktail-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #cocktail{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .cocktail-item{
        margin: 0;
    }
    .cocktail-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #cocktail{
        grid-template-columns: repeat(3, 1fr);
    }
}