/* Header */
.header {
    display: flex;
    justify-content: center;
    font-family: 'Megrim';
    font-size: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../Images/HeaderBackground.png");
    color: white;
}

/* Search Container */
.container {
    border-style: solid;
    border-color: rgb(182, 159, 126);
    padding: 50px 20px 50px 20px;

}

/* Buttons */
.btn {
    background-color: rgb(182, 159, 126);
    font-family: 'Megrim';
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(224, 219, 212);
    color: rgb(82, 73, 60);;
}